* {
  font-family: roboto;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to left, #084586, #709bdc);
  min-height: 100vh;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 495px;
  height: 296px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 30px rgba(42, 42, 42, 0.45);
}
input {
  margin: 20px;
  width: 300px;
  height: 50px;
  font-size: 16px;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 2px 4px 1px rgba(112, 155, 220, 0.51);
  display: block;
}
input::placeholder {
  position: relative;
  left: 10px;
  font-weight: 400;
  color: #bdbdbd;
}
button {
  position: relative;
  top: 15px;
  left: 130px;
  width: 70px;
  height: 35px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  font-size: 15px;
  background: #4c7dbe;
  color: #ffffff;
  box-shadow: 0px 0px 1px rgba(42, 42, 42, 0.45);
}
button:hover {
  cursor: pointer;
  box-shadow: 0px 4px 5px rgba(42, 42, 42, 0.45);
}
